# Lists


        List is representing using [].
        Lists can store any no.of different data types together.
        List can be classified as single-dimensional and multi-dimensional.
        List is a mutable object, which means elements in list can be changed.
        It can store asymmetric data types

In [1]:
empty_list = []

print(f"{type(empty_list)} {empty_list = }")
print(f"{len(empty_list) =}")

<class 'list'> empty_list = []
len(empty_list) =0

In [2]:
# Homogenous list
numbers = [12, 334, 23, 2, -323]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 334, 23, 2, -323]
len(numbers) =5

In [3]:
# non-homogenous
numbers = [12, 3.4, -0.00004, 434243432432, "abc", True, 4 + 55 / 6, "4 + 55 / 6"]
print(f"\n{type(numbers)} {numbers =}")
print(f"{len(numbers) =}")

<class 'list'> numbers =[12, 3.4, -4e-05, 434243432432, 'abc', True, 13.166666666666666, '4 + 55 / 6']
len(numbers) =8

In [ ]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

print(f"\n{type(ml)} {ml =}")
print(f"{len(ml) =}")

<class 'list'> ml =[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
len(ml) =6

In [2]:
print(f"{type(ml[3])} {ml[3] =}")
print(f"{type(ml[4])} {ml[4] =}")

<class 'float'> ml[3] =4.3
<class 'int'> ml[4] =5

In [3]:
print(f'{type(ml[6])} {ml[6] =}')

IndexError: list index out of range

In [4]:
print(f"\n{type(ml[5])} {ml[5] =}")
print(f"{type(ml[5][1])} {ml[5][1] =}")
print(f"{type(ml[5][3])} {ml[5][3] =}")

<class 'list'> ml[5] =[6, 7, 8, (9, 10)]
<class 'int'> ml[5][1] =7
<class 'tuple'> ml[5][3] =(9, 10)

In [6]:
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  -------5---------
#                       0  1  2   --3--
#                                 0   1

ml[5]

[6, 7, 8, (9, 10)]

In [7]:
ml[5][3]

(9, 10)

In [ ]:
ml[5][3][0]

9

In [9]:
# forward vs reverse indexing
# [1, 2, 3, 4.3, 5, [6,  7,  8, (9, 10)]]
# -6 -5  -4  -3  -2  ------- -1 -------  - reverse indexing
#                   -4  -3  -2  -- -1 --
#                               -2  -1

# 0  1  2   3   4  -------5--------- - forward indexing


ml

[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]

In [10]:
ml[-1]

[6, 7, 8, (9, 10)]

In [11]:
ml[-1][-1]

(9, 10)

In [12]:
ml[-1][-1][-2]

9

In [ ]:
ml[-1][3][-2]  # not recommended , as it will be confusing

9

In [14]:
print(ml[-5] == ml[1])
assert ml[-5] == ml[1]

True

In [15]:
# Slicing - last value in boundary will not be included
# [start_index, final_index, step]
# default start_index = 0 ; final_index = len(list); step = 1
print("\nml[1:4]      ", ml[1:4])
print("ml[1:4:2]    ", ml[1:4:2])

ml[1:4]       [2, 3, 4.3]
ml[1:4:2]     [2, 4.3]

## mutability


    Mutable objects: List, set, dict
    immutable objects: int, float, str, bool, None, tuple, frozenset, iterator

In [ ]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 124128826781200

num1 =1234 <class 'int'> id(num1)=124128826781200

In [ ]:
num1 = 9999   # OVERwriting
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 124128827047440

num1 =9999 <class 'int'> id(num1)=124128827047440

In [18]:
print("\nString is a immutable object ===")
name = "Raj Sekhar"
print(f"name         :{name}")
print(f"name[0:3]    :{name[0:3]}")

String is a immutable object ===
name         :Raj Sekhar
name[0:3]    :Raj

In [19]:
name[0:3] = "Tej"

TypeError: 'str' object does not support item assignment

In [20]:
print(f'{id(name) = }')
name = "Tej Sekhar"      # OVERwriting
print(f'{id(name) = }')

id(name) = 124128827381360
id(name) = 124128827410160

In [21]:
name

'Tej Sekhar'

In [ ]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  --------5--------
#                       0  1  2   --3--
#                                 0   1
print()
print("List is a mutable object =======")
print("ml           ", ml)          # value
print("type(ml)     ", type(ml))    # data type
print("id(ml)       ", id(ml))      # address location - 124128827219584

List is a mutable object =======
ml            [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
type(ml)      <class 'list'>
id(ml)        124128827219584

In [23]:
ml[3]

4.3

In [24]:
ml[3] = 3.4

In [25]:
ml

[1, 2, 3, 3.4, 5, [6, 7, 8, (9, 10)]]

In [ ]:
print("id(ml)       ", id(ml))      # address location - 124128827219584

id(ml)        124128827219584

In [27]:
# NOTE: address is not changed. but value is updated -- INplace change DONE

## List Attributes

In [33]:
numbers = [88, 99, 666]

print("type(numbers)    =", type(numbers))
print("dir(numbers)     =", dir(numbers))

type(numbers)    = <class 'list'>
dir(numbers)     = ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [29]:
print("len(numbers)            =", len(numbers))
print("numbers.__len__()       =", numbers.__len__())
assert len(numbers) == numbers.__len__()

len(numbers)            = 3
numbers.__len__()       = 3

In [30]:
print("str(numbers)           =", str(numbers))
print("type(str(numbers))     =", type(str(numbers)))
print("numbers.__str__()      =", numbers.__str__())
print("type(numbers.__str__())=", type(numbers.__str__()))
assert str(numbers) == numbers.__str__()

str(numbers)           = [88, 99, 666]
type(str(numbers))     = <class 'str'>
numbers.__str__()      = [88, 99, 666]
type(numbers.__str__())= <class 'str'>

In [34]:
# List Repetion operation
print("numbers * 3         =", numbers * 3)  # original object not modified
print("numbers             =", numbers)
# original object not modified
print("numbers.__mul__(3)  =", numbers.__mul__(3))
print("numbers             =", numbers)
assert numbers * 3 == numbers.__mul__(3)

numbers * 3         = [88, 99, 666, 88, 99, 666, 88, 99, 666]
numbers             = [88, 99, 666]
numbers.__mul__(3)  = [88, 99, 666, 88, 99, 666, 88, 99, 666]
numbers             = [88, 99, 666]

In [35]:
# original object IS modified
print("numbers.__imul__(3) =", numbers.__imul__(3))  # numbers *= 3
print("numbers             =", numbers)

numbers.__imul__(3) = [88, 99, 666, 88, 99, 666, 88, 99, 666]
numbers             = [88, 99, 666, 88, 99, 666, 88, 99, 666]

In [36]:
print("id(numbers)          =", id(numbers))
# object overwriting
numbers = [88, 99, 666]
print("id(numbers)          =", id(numbers))
numbers = [88, 99, 666]
print("id(numbers)          =", id(numbers))

id(numbers)          = 124128827218880
id(numbers)          = 124128827681344
id(numbers)          = 124128827564736

In [37]:
# NOTE: overwirting will everytime change the address of the object, in datastcurure

# Assignment: try checking the overwriting address change in all data types